body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .hero-section, .footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;   
}

.header-links, .secondary-text, .bordless-button, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.header, .hero-section, .call-section {
    justify-content: space-between;
    padding: 24px 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-links {
    justify-content: space-between;
    column-gap: 8px;
}

.footer {
    height: 96px;
    align-items: center;
    justify-content: center;
}

.bordless-button {
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 32px;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.image-placeholder {
    background-color: #E5E7EB;
}

.quote-section {
    background-color: #E5E7EB;
}

.info-section, .quote-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.information {
    display: flex;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}